.container{
    display: flex;
    flex-direction: row;
    max-width: 600px;
}
@media(max-width:280px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
body{
    background-color: rgb(252,252,254);
}
p{
    margin: 0px;
}
.content{
    width: 205px;
    margin-left: 2px;
    
}
.container-select{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
    border: 1px solid rgb(244,244,244);
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;

}
.container-select:hover{
    background-color: rgb(244,244,244);
    border: 1px solid rgb(244,244,244);
}
.container-select-two{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
    border: 1px solid rgb(244,244,244);
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.container-select-two:hover{
    background-color: rgb(244,244,244);
    border: 1px solid rgb(244,244,244);
    max-width: 200px;
}
.content-select-text{
    padding-right: 5px;
    margin-top: 5px;
}
.name-selector{
    margin-top: 5px;
    color: rgb(148,148,148);
}
.info-selector{
    color: rgb(47,50,60);
    font-weight: bold;
}
.info-selector-two{
    color: rgb(47,50,60);
    font-weight: bold;
}
i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down-two{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
}
.down-two:hover{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
.down{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
}
.down:hover{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
.up{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
.aroow{
    
}
.list{
    transition: 1s;
    cursor: pointer;

}
.list-two{
    transition: 1s;
    cursor: pointer;
}
.delet{
    transition: 1s;
    display: none;
}
.select-list{
    background-color: rgb(255,255,255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 7px 0px 7px 7px;
}
.select-list:hover{
    background-color: rgb(244,244,244);

}
.select-list-two{
    margin-top: 1px;
    padding: 7px 0px 7px 7px;

}
.select-list-two:hover{
    background-color: rgb(244,244,244);
}