

.container-select{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    border: 1px solid rgb(244,244,244);
    max-width: 200px;
}
.container-select:hover{
    background-color: rgb(244,244,244);
    border: 1px solid rgb(244,244,244);
    max-width: 200px;
}
.content-select-text{
    padding-right: 50px;
}
.name-selector{
    color: rgb(148,148,148);
}
.info-selector{
    color: rgb(47,50,60);
    font-weight: bold;
}
i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
}
.down:hover{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
.up{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
.aroow{
    
}
.delet{
    display: none;
}